main {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-title {
    font-size: 24px;
    margin: 60px 0px 40px 0px;
}

.address-form {
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.address-form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-form__label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.address-form__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.address-button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 80px;
    width: 680px;
}

.address-button:hover {
    background-color: #e14b4b;
}

@media screen and (max-width: 768px) {
    .address-form {
        width: 90%;
    }

    .address-button {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .address-title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .address-form {
        gap: 10px;
    }

    .address-form__label {
        font-size: 12px;
    }

    .address-form__input {
        font-size: 14px;
        padding: 8px;
    }

    .address-button {
        padding: 8px;
        font-size: 14px;
    }
}