* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    max-width: 1920px;
    min-width: 1100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    height: 65px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 20px;
}

.logo-img {
    max-height: 50px;
}

.search {
    display: flex;
    justify-content: center;
    flex-basis: 45%;
    margin: 10px 60px;
    padding: 0px;
}

.search input {
    width: 100%;
    aspect-ratio: 15 / 1;
    padding: 0px;
    font-size: 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.nav-logout__link {
    font-size: 16px;
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.nav-sell__btn {
    display: inline-block;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    width: 100px;
    height: 50px;
    line-height: 50px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

li.page-item.disabled::marker {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 850px;
        min-width: 768px;
    }

    .header {
        flex-direction: column;
        height: auto;
        padding: 15px 10px;
    }

    .search {
        margin: 10px 0;
        flex-basis: 100%;
    }

    .nav {
        gap: 5px;
        font-size: 14px;
    }

    .nav-sell__btn {
        font-size: 14px;
        width: 70px;
        height: 35px;
        line-height: 35px;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 480px;
        min-width: 350px;
    }

    .header {
        flex-direction: column;
        height: auto;
        padding: 15px 10px;
    }

    .search {
        margin: 10px 0;
        flex-basis: 100%;
    }

    .nav {
        gap: 5px;
        font-size: 14px;
    }

    .nav-sell__btn {
        font-size: 14px;
        width: 70px;
        height: 35px;
        line-height: 35px;
    }
}