* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    width: 1515px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    min-height: 80px;
    gap: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 479px;
}

.logo-img {
    width: 370px;
    height: auto;
}

.search {
    display: flex;
    justify-content: center;
    width: 563px;
}

.search-input {
    width: 500px;
    height: 50px;
    font-size: 24px;
    border-radius: 5px;
    color: black;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 463px;
    gap: 30px;
}

.nav-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    font-size: 24px;
}

.nav-logout__link {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    width: 135px;
}

.nav-sell__btn {
    display: inline-block;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    width: 100px;
    height: 50px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

li.page-item.disabled::marker {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        width: 768px;
        }
    
        .header {
        min-height: 40px;
        gap: 2px;
        }
    
        .logo {
        width: 240px;
        }
    
        .logo-img {
        width: 185px;
        }
    
        .search {
        width: 280px;
        }
    
        .search-input {
        width: 250px;
        height: 25px;
        font-size: 12px;
        }
    
        .nav {
        width: 230px;
        gap: 5px;
        }
    
        .nav-logout {
        width: 68px;
        font-size: 12px;
        }
    
        .nav-mypage {
            font-size: 12px;
            width: 68px;
        }
    
        .nav-sell__btn {
            font-size: 12px;
            width: 50px;
            height: 25px;
        }
    
        .pagination {
            gap: 5px;
        }
}

@media screen and (max-width: 480px) {
    body {
        width: 480px;
    }

    .header {
        min-height: 24px;
        gap: 2px;
    }

    .logo {
        width: 144px;
    }

    .logo-img {
        width: 111px;
    }

    .search {
        width: 168px;
    }

    .search-input {
        width: 150px;
        height: 15px;
        font-size: 7px;
    }

    .nav {
        width: 138px;
        gap: 3px;
    }

    .nav-logout {
        width: 41px;
        font-size: 7px;
    }

    .nav-mypage {
        font-size: 7px;
        width: 41px;
    }

    .nav-sell__btn {
        font-size: 7px;
        width: 30px;
        height: 15px;
    }

    .pagination {
        gap: 3px;
    }
}