.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 680px;
    margin: 120px auto 0;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    width: 144px;
    height: auto;
    font-size: 36px;
    margin-bottom: 52px;
}

.login-form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 37px;
}

.login-form__label {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.login-form__input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.login-button {
    background-color: #FF5555;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 43px;
    font-size: 26px;
    cursor: pointer;
    width: 680px;
    height: 65px;
    font-weight: bold;
}

.login-button:hover {
    background-color: #e14b4b;
}

.register-link {
    margin-top: 30px;
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .login-container {
        width: 340px;
        margin: 60px auto 0;
    }
    
    .login-title {
        width: 72px;
        font-size: 18px;
        margin-bottom: 26px;
    }
    
    .login-form__group {
        margin-bottom: 19px;
    }
    
    .login-form__label {
        margin-bottom: 3px;
        font-size: 12px;
    }
    
    .login-form__input {
        padding: 5px;
        font-size: 12px;
    }
    
    .login-button {
        margin-top: 21px;
        font-size: 13px;
        width: 340px;
        height: 33px;
    }

    .register-link {
        margin-top: 15px;
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .login-container {
        width: 204px;
        margin: 36px auto 0;
    }
    
    .login-title {
        width: 44px;
        font-size: 11px;
        margin-bottom: 16px;
    }
    
    .login-form__group {
        margin-bottom: 11px;
    }
    
    .login-form__label {
        margin-bottom: 2px;
        font-size: 7px;
    }
    
    .login-form__input {
        padding: 3px;
        font-size: 7px;
    }
    
    .login-button {
        margin-top: 13px;
        font-size: 8px;
        width: 204px;
        height: 20px;
    }
    
    .register-link {
        margin-top: 9px;
        font-size: 6px;
    }
}