.profile-edit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 59px;
}

.address-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 299px;
    height: 47px;
    font-size: 36px;
    font-weight: 700;
}

.img-form {
    display: flex;
    justify-content: flex-start;
    width: 680px;
    height: 150px;
    margin-top: 47px;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-left: 40px;
}

.img-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff5555;
    color: #ff5555;
    border-radius: 10px;
    text-decoration: none;
    width: 165px;
    height: 44px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.img-button:hover {
    background-color: #ff5c5c;
    color: white;
}

input[type="file"] {
    display: none;
}

.address-form {
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.address-form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-form__label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.address-form__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.address-button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 80px;
    width: 680px;
}

.address-button:hover {
    background-color: #e14b4b;
}

@media screen and (max-width: 768px) {
    .profile-edit__container {
        transform: scale(0.9);
        transform-origin: top;
    }
}

@media screen and (max-width: 480px) {
    .profile-edit__container {
        transform: scale(0.6);
        transform-origin: top;
    }
}
