.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 680px;
    margin: 98px auto 0;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-title {
    width: 144px;
    height: auto;
    font-size: 36px;
    margin-bottom: 54px;
}

.register-form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 38px;
}

.register-form__label {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.register-form__input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.register-button {
    background-color: #FF5555;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 116px;
    font-size: 26px;
    cursor: pointer;
    width: 680px;
    height: 65px;
    font-weight: bold;
}

.register-button:hover {
    background-color: #e14b4b;
}

.login-link {
    margin-top: 30px;
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .register-container {
        width: 340px;
        margin: 60px auto 0;
    }

    .register-title {
        width: 72px;
        font-size: 18px;
        margin-bottom: 26px;
    }

    .register-form__group {
        margin-bottom: 19px;
    }

    .register-form__label {
        margin-bottom: 3px;
        font-size: 12px;
    }

    .register-form__input {
        padding: 5px;
        font-size: 12px;
    }

    .register-button {
        margin-top: 21px;
        font-size: 13px;
        width: 340px;
        height: 33px;
    }

    .login-link {
        margin-top: 15px;
        font-size: 10px;
    }
}